@charset "utf-8";
// 확장자는 생략 가능 @import "_variables.scss" 
// 여러 개의 파일을 한번에 임포트
@import "_mixin";
@import "_variables";

// body{
//     overflow-y:hidden; //컨텐츠 영역 스크롤
// }

/* 공통으로 사용될 코드 */
button,
button:focus,
button:active {
  padding: 0;
  cursor: pointer;
  outline: none;
}

button span,
button i {
  position: relative;
}

.hide {
  display: none !important;
}

.disabled {
  cursor: default !important;
}

.swiper-button-prev:focus,
.swiper-button-prev:active,
.swiper-button-next:focus,
.swiper-button-next:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

input[type="text"]::-webkit-input-placeholder {
  color: #aaa;
}

input[type="text"]:-moz-placeholder {
  color: #aaa;
}

input[type="text"]:-ms-input-placeholder {
  color: #aaa;
}

input[type="text"]:-webkit-input-placeholder {
  color: #aaa;
}

input[type="text"]::-moz-placeholder {
  color: #aaa;
}

input[type="checkbox"] {
  appearance: none;
}

#wrap {
  display: flex;
  flex-direction: column;
  font-family: $noto;
  letter-spacing: -0.5px;
  width: 100%;
  min-height: 100vh;
}