@charset "UTF-8";

input {
  &::-webkit-input-placeholder, &:-ms-input-placeholder {
    color: #BFBFBF;
  }
}

* {
  font-family: "Spoqa Han Sans Neo";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  min-width: 320px;
  max-width: 720px;

  .middle {
    overflow: hidden;
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 720px;
    margin: 0 auto;
    background: -webkit-gradient(linear, left top, left bottom, from(#E3E3E3), color-stop(80.87%, #FFFFFF));
    background: linear-gradient(180deg, #E3E3E3 0%, #FFFFFF 80.87%);
  }
}

/* 중앙정렬 */

.top_visual {
  position: relative;
  width: 100%;
  padding: 120px 0 40px;

  img {
    opacity: 0;
    -webkit-animation: fadeIn 0.5s ease-in;
    animation: fadeIn 0.5s ease-in;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#scrollArea {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;

  &.ani_active {
    .obj_wrap {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      opacity: 0.8;

      .obj {
        -webkit-transform: translateY(300px);
        transform: translateY(300px);
      }
    }

    .contents {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      opacity: 1;
    }
  }
}

.contents {
  position: relative;
  width: 100%;
  padding: 0 40px;
}

.obj_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;

  .obj {
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    transition: transform 1s, -webkit-transform 1s;

    &.obj_01 {
      left: -92px;
      top: -50px;
      width: 476px;
      height: 422px;
      background-image: url("../images/event/obj_01.png");
    }

    &.obj_02 {
      right: -78px;
      top: 470px;
      width: 486px;
      height: 552px;
      background-image: url("../images/event/obj_02.png");
    }

    &.obj_03 {
      left: 0;
      top: 1046px;
      width: 164px;
      height: 460px;
      background-image: url("../images/event/obj_03.png");
    }

    &.obj_04 {
      right: 0;
      top: 1492px;
      width: 165px;
      height: 524px;
      background-image: url("../images/event/obj_04.png");
    }
  }
}

.section_01 {
  position: relative;
  text-align: center;

  .title_box {
    margin-bottom: 90px;

    .event_period {
      background: url("../images/event/event_period.png") center center no-repeat;
      background-size: 100% auto;
      width: 367px;
      height: 43px;
      margin: auto;
    }
  }

  .blur_square {
    padding: 33px 20px 30px;

    strong {
      font-size: 40px;
      line-height: 54px;
      font-family: "CookieRun Bold";
      letter-spacing: -0.05em;
      color: #3C3C3B;
    }

    p {
      font-size: 28px;
      line-height: 50px;
      font-size: 28pxpx;
      text-align: center;
      font-family: 'kakaoSansBig';
      letter-spacing: -0.03em;
      color: #555656;
      margin: 2px 0 30px;
    }

    .prize_money {
      font-size: 106px;
      line-height: 144px;
      letter-spacing: -0.04em;
      color: #F04923;
    }

    .gift_text {
      font-size: 36px;
      line-height: 50px;
      text-align: center;
      font-family: 'kakaoSansBig';
      letter-spacing: -0.03em;
      color: #555656;

      strong {
        font-family: 'kakaoSansBig';
        font-weight: 800;
      }
    }

    .holeinone_course {
      font-family: "Spoqa Han Sans Neo";
      margin-top: 82px;

      p {
        font-size: 36px;
        line-height: 46px;
        font-weight: bold;
        letter-spacing: -0.02em;
        color: #555656;
        margin-bottom: 20px;
      }

      > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        letter-spacing: -0.02em;
        border-radius: 16px;
        background: #3C3C3B;
        padding: 24px 60px;

        strong {
          font-size: 40px;
          font-family: "Spoqa Han Sans Neo";
          color: #ffffff;
        }

        span {
          display: block;
          font-size: 30px;
          color: #ffffff;
          margin-left: 22px;
        }
      }
    }
  }
}

.section_02 {
  .title_box {
    font-size: 64px;
    line-height: 88px;
    font-family: "CookieRun Bold";
    letter-spacing: -0.02em;
    text-align: center;
    margin: 252px 0 54px;

    strong {
      font-size: 64px;
      font-family: "CookieRun Bold";
    }
  }

  .blur_square {
    text-align: center;

    .prize_counter {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 48px;
      line-height: 66px;
      font-family: "CookieRun Bold";
      letter-spacing: -0.02em;
      color: #3C3C3B;
      margin-bottom: 20px;

      strong {
        font-size: 72px;
        line-height: 49px;
      }
    }

    .prize_text {
      font-size: 36px;
      font-weight: 500;
      line-height: 140%;
      font-family: "Spoqa Han Sans Neo";
      text-align: center;
      letter-spacing: -0.02em;
      color: #888888;

      strong {
        font-size: 36px;
        color: #3C3C3B;
      }
    }
  }

  .select {
    position: relative;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 0 20px 0;

    &:after {
      position: absolute;
      top: 50%;
      right: 16px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 16px;
      height: 8px;
      background: url("../images/event/icon_select.png") no-repeat center;
      background-size: cover;
      content: '';
    }

    select {
      width: 100%;
      height: 100%;
      font-size: 14px;
      border: none;
      padding: 0 15% 0 5.6%;
      font-weight: 700;
      background: #50777E;
      color: #fff;
    }
  }

  .search {
    width: 100%;
    height: 96px;
    font-size: 28px;
    border-radius: 16px;
    overflow: hidden;
    margin: 40px 0;
    position: relative;

    input {
      width: 100%;
      height: 100%;
      font-size: 28px;
      border: none;
      padding: 0 15% 0 5.6%;
      font-weight: bold;
      background: #888888;
      color: #fff;

      &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::placeholder {
        color: #ffffff80;
      }
    }

    &:after {
      position: absolute;
      top: 50%;
      right: 32px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 48px;
      height: 48px;
      background: url("../images/event/icon_search.png") no-repeat center;
      background-size: cover;
      content: '';
    }

    a {
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 100%;
      display: block;
      text-indent: -9999px;
      z-index: 100;
    }
  }

  .table table {
    width: 100%;

    colgroup {
      .col_1, .col_2 {
        width: 50%;
      }
    }

    thead {
      border-radius: 16px;

      tr th {
        text-align: center;
        color: #3C3C3B;
        vertical-align: middle;
        height: 96px;
        font-size: 28px;
        background: rgba(148, 149, 152, 0.2);
        -webkit-backdrop-filter: blur(7.5px);
        backdrop-filter: blur(7.5px);
        font-weight: 700;
        color: #516A60;

        &:first-child {
          border-radius: 16px 0 0 16px;
        }

        &:last-child {
          border-radius: 0 16px 16px 0;
        }
      }
    }

    tbody tr td {
      text-align: center;
      color: #fff;
      border-bottom: 2px solid #888888;
      height: 100px;
      vertical-align: middle;
      font-size: 28px;
      font-weight: 500;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #111111;
    }
  }

  .service-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 60px 0 120px;
    font-size: 0;
    text-align: center;

    a {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: inherit;
      left: auto;
      width: 60px;
      height: 60px;
      line-height: 60px;
      margin: 0 8px;
      border-radius: 50%;
      color: #FFFFFF;
      background: rgba(17, 17, 17, 0.4);
      font-family: "Spoqa Han Sans Neo";
      font-weight: 700;
      font-size: 28px;
      line-height: 36px;
      text-decoration: none;

      &.page-btn-active {
        font-family: "Spoqa Han Sans Neo";
        font-weight: 700;
        background: #3C3C3B;
      }

      &.page-btn-prev {
        text-indent: -9999px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: transparent;
        background-image: url("../images/event/btn_paging.png");
        background-size: 25.9% auto;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }

      &.page-btn-next {
        text-indent: -9999px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: transparent;
        background-image: url("../images/event/btn_paging.png");
        background-size: 25.9% auto;
      }
    }
  }
}

.event_circle {
  display: inline-block;
  font-size: 28px;
  border-radius: 96px;
  background: #3C3C3B;
  color: #ffffff;
  padding: 12px 20px;
  text-align: center;
  margin-bottom: 22px;
}

.blur_square {
  position: relative;
  width: 100%;
  background: rgba(148, 149, 152, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 52px;
  padding: 40px;
}

.color_primary {
  color: #F04923;
}

.footer {
  padding: 80px 40px 160px;
  background: #3C3C3B;
  color: #f1f1f1;
  font-size: 28px;

  > h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 60px;
    font-size: 36px;

    &::before {
      display: inline-block;
      width: 40px;
      height: 40px;
      padding-right: 8px;
      background: url("../images/event/alert-circle.png") no-repeat left 45%;
      background-size: 78% auto;
      content: "";
    }
  }

  h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 40px 0;
    font-size: 32px;
    border-top: 2px solid #888888;

    .ui-accordion-header-icon {
      display: none;
    }

    &:first-child {
      padding-top: 0;
      border: none;
    }

    &::after {
      display: inline-block;
      width: 24px;
      height: 14px;
      margin-right: 10px;
      background: url("../images/event/btn_closed.png") no-repeat;
      content: "";
    }

    &.ui-state-active::after {
      display: inline-block;
      background: url("../images/event/btn_open.png") no-repeat;
      content: "";
    }
  }
}

.lst_line_notice {
  padding-bottom: 40px;

  > li {
    position: relative;
    padding-left: 24px;
    padding-right: 30px;
    font-size: 28px;
    line-height: 42px;
    font-weight: 300;
    letter-spacing: -0.1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    &:before {
      position: absolute;
      top: 16px;
      left: 4px;
      width: 8px;
      height: 1px;
      background: #f1f1f1;
      content: "";
    }

    + li {
      margin-top: 20px;
    }
  }
}

.btn_event {
  width: 100%;
  height: 107px;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  border-radius: 16px;
  border: none;

  &.btn_black {
    background: #3C3C3B;
    margin-bottom: 19px;
  }

  &.btn_primary {
    background: #F04923;
    margin-bottom: 94px;
  }
}

$mobile-size: 360;

@function vw($target) {
    @if type-of($target)==number {
        @return (($target * 100) / $mobile-size) * 1vw;
    }

    @else if type-of($target)==list {
        $vw: ();

        @each $value in $target {
            @if type-of($value)==number {
                $vw: append($vw, (($value * 100) / $mobile-size) * 1vw);
            }

            @else if type-of($value)==string {
                $vw: append($vw, $value);
            }
        }

        @return $vw;
    }

    @else {
        @return $target;
    }
}

/* vw 변환 function */
@media screen and (max-width: 720px) {
  .top_visual {
    position: relative;
    width: 100%;
    padding: 16.66667vw 0 5.55556vw;
  }

  .scroll_action {
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .contents {
    position: relative;
    width: 100%;
    padding: 0 5.55556vw;
  }

  .obj_wrap {
    position: absolute;
    width: 100%;
    height: 100%;

    .obj {
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto 100%;

      &.obj_01 {
        left: -12.77778vw;
        top: -6.94444vw;
        width: 66.11111vw;
        height: 58.61111vw;
        background-image: url("../images/event/obj_01.png");
      }

      &.obj_02 {
        right: -10.55556vw;
        top: 79.16667vw;
        width: 67.5vw;
        height: 76.66667vw;
        background-image: url("../images/event/obj_02.png");
      }

      &.obj_03 {
        left: 0vw;
        top: 145.27778vw;
        width: 22.77778vw;
        height: 63.88889vw;
        background-image: url("../images/event/obj_03.png");
      }

      &.obj_04 {
        right: -5.55556vw;
        top: 205.55556vw;
        width: 21.66667vw;
        height: 72.77778vw;
        background-image: url("../images/event/obj_04.png");
      }
    }
  }

  .section_01 {
    position: relative;
    text-align: center;

    .title_box {
      margin-bottom: 12.5vw;

      .event_period {
        width: 51.11111vw;
        height: 6.11111vw;
      }
    }

    .blur_square {
      padding: 33px 20px 30px;

      strong {
        font-size: 5.55556vw;
        line-height: 7.5vw;
        font-family: "CookieRun Bold";
        letter-spacing: -0.05em;
        color: #3C3C3B;
      }

      p {
        font-size: 3.88889vw;
        line-height: 6.94444vw;
        font-size: 14px;
        text-align: center;
        font-family: 'kakaoSansBig';
        letter-spacing: -0.03em;
        color: #555656;
        margin: 0.27778vw 0 4.16667vw;
      }

      .prize_money {
        font-size: 14.72222vw;
        line-height: 20vw;
        letter-spacing: -0.04em;
        color: #F04923;
      }

      .gift_text {
        font-size: 5vw;
        line-height: 6.94444vw;
        text-align: center;
        font-family: 'kakaoSansBig';
        letter-spacing: -0.03em;
        color: #555656;

        strong {
          font-family: 'kakaoSansBig';
          font-weight: 800;
        }
      }

      .holeinone_course {
        font-family: "Spoqa Han Sans Neo";
        margin-top: 11.38889vw;

        p {
          font-size: 5vw;
          line-height: 6.38889vw;
          font-weight: bold;
          letter-spacing: -0.02em;
          color: #555656;
          margin-bottom: 10px;
        }

        > div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 100%;
          letter-spacing: -0.02em;
          border-radius: 2.22222vw;
          background: #3C3C3B;
          padding: 3.33333vw 8.33333vw;

          strong {
            font-size: 5.55556vw;
            font-family: "Spoqa Han Sans Neo";
            color: #ffffff;
          }

          span {
            display: block;
            font-size: 4.16667vw;
            color: #ffffff;
            margin-left: 3.05556vw;
          }
        }
      }
    }
  }

  .section_02 {
    .title_box {
      font-size: 8.88889vw;
      line-height: 12.22222vw;
      font-family: "CookieRun Bold";
      letter-spacing: -0.02em;
      text-align: center;
      margin: 35vw 0 7.5vw;

      strong {
        font-size: 8.88889vw;
        font-family: "CookieRun Bold";
      }
    }

    .blur_square {
      text-align: center;

      .prize_counter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 6.66667vw;
        line-height: 9.16667vw;
        font-family: "CookieRun Bold";
        letter-spacing: -0.02em;
        color: #3C3C3B;
        margin-bottom: 2.77778vw;

        strong {
          font-size: 10vw;
          line-height: 13.61111vw;
        }
      }

      .prize_text {
        font-size: 5vw;
        font-weight: 500;
        line-height: 140%;
        font-family: "Spoqa Han Sans Neo";
        text-align: center;
        letter-spacing: -0.02em;
        color: #888888;

        strong {
          font-size: 5vw;
          color: #3C3C3B;
        }
      }
    }

    .select {
      position: relative;
      width: 100%;
      height: 48px;
      border-radius: 8px;
      overflow: hidden;
      margin: 0 0 20px 0;

      &:after {
        position: absolute;
        top: 50%;
        right: 16px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 16px;
        height: 8px;
        background: url("../images/event/icon_select.png") no-repeat center;
        background-size: cover;
        content: '';
      }

      select {
        width: 100%;
        height: 100%;
        font-size: 14px;
        border: none;
        padding: 0 15% 0 5.6%;
        font-weight: 700;
        background: #50777E;
        color: #fff;
      }
    }

    .search {
      width: 100%;
      height: 13.33333vw;
      font-size: 3.88889vw;
      border-radius: 2.22222vw;
      overflow: hidden;
      margin: 5.55556vw 0;
      position: relative;

      input {
        width: 100%;
        height: 100%;
        font-size: 3.88889vw;
        border: none;
        padding: 0 15% 0 5.6%;
        font-weight: bold;
        background: #888888;
        color: #fff;
      }

      &:after {
        position: absolute;
        top: 50%;
        right: 4.44444vw;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 6.66667vw;
        height: 6.66667vw;
        background: url("../images/event/icon_search.png") no-repeat center;
        background-size: cover;
        content: '';
      }

      a {
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 100%;
        display: block;
        text-indent: -9999px;
        z-index: 100;
      }
    }

    .table table {
      width: 100%;

      colgroup {
        .col_1, .col_2 {
          width: 50%;
        }
      }

      thead {
        border-radius: 2.22222vw;

        tr th {
          text-align: center;
          color: #3C3C3B;
          vertical-align: middle;
          height: 13.33333vw;
          font-size: 3.88889vw;
          background: rgba(148, 149, 152, 0.2);
          -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
          font-weight: 700;
          color: #516A60;

          &:first-child {
            border-radius: 2.22222vw 0 0 2.22222vw;
          }

          &:last-child {
            border-radius: 0 2.22222vw 2.22222vw 0;
          }
        }
      }

      tbody tr td {
        text-align: center;
        color: #fff;
        border-bottom: 0.27778vw solid #888888;
        height: 13.88889vw;
        vertical-align: middle;
        font-size: 3.88889vw;
        font-weight: 500;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #111111;
      }
    }

    .service-pagination {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 8.33333vw 0 16.66667vw;
      font-size: 0;
      text-align: center;

      a {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: inherit;
        left: auto;
        width: 8.33333vw;
        height: 8.33333vw;
        line-height: 8.33333vw;
        margin: 0 1.11111vw;
        border-radius: 50%;
        color: #FFFFFF;
        background: rgba(17, 17, 17, 0.4);
        font-family: "Spoqa Han Sans Neo";
        font-weight: 700;
        font-size: 3.88889vw;
        line-height: 5vw;
        text-decoration: none;

        &.page-btn-active {
          font-family: "Spoqa Han Sans Neo";
          font-weight: 700;
          background: #3C3C3B;
        }

        &.page-btn-prev {
          text-indent: -9999px;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-color: transparent;
          background-image: url("../images/event/btn_paging.png");
          background-size: 25.9% auto;
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }

        &.page-btn-next {
          text-indent: -9999px;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-color: transparent;
          background-image: url("../images/event/btn_paging.png");
          background-size: 25.9% auto;
        }
      }
    }
  }

  .event_circle {
    display: inline-block;
    font-size: 3.88889vw;
    border-radius: 13.33333vw;
    background: #3C3C3B;
    color: #ffffff;
    padding: 1.66667vw 2.77778vw;
    text-align: center;
    margin-bottom: 3.05556vw;
  }

  .blur_square {
    position: relative;
    width: 100%;
    background: rgba(148, 149, 152, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 7.22222vw;
    padding: 5.55556vw;
  }

  .color_primary {
    color: #F04923;
  }

  .footer {
    padding: 11.11111vw 5.55556vw 22.22222vw;
    background: #3C3C3B;
    color: #f1f1f1;
    font-size: 3.88889vw;

    > h3 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 8.33333vw;
      font-size: 5vw;

      &::before {
        display: inline-block;
        width: 5.55556vw;
        height: 5.55556vw;
        padding-right: 1.11111vw;
        background: url("../images/event/alert-circle.png") no-repeat left 45%;
        background-size: 78% auto;
        content: "";
      }
    }

    h4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 5.55556vw 0;
      font-size: 4.44444vw;
      border-top: 0.27778vw solid #888888;

      .ui-accordion-header-icon {
        display: none;
      }

      &:first-child {
        padding-top: 0;
        border: none;
      }

      &::after {
        display: inline-block;
        width: 3.33333vw;
        height: 1.94444vw;
        margin-right: 1.38889vw;
        background: url("../images/event/btn_closed.png") no-repeat;
        content: "";
      }

      &.ui-state-active::after {
        display: inline-block;
        background: url("../images/event/btn_open.png") no-repeat;
        content: "";
      }
    }
  }

  .lst_line_notice {
    padding-bottom: 5.55556vw;

    > li {
      position: relative;
      padding-left: 3.33333vw;
      padding-right: 4.16667vw;
      font-size: 3.88889vw;
      line-height: 5.83333vw;
      font-weight: 300;
      letter-spacing: -0.1px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      &:before {
        position: absolute;
        top: 2.22222vw;
        left: 0.55556vw;
        width: 1.11111vw;
        height: 0.13889vw;
        background: #f1f1f1;
        content: "";
      }

      + li {
        margin-top: 2.77778vw;
      }
    }
  }

  .btn_event {
    height: 15vw;
    font-size: 5.55556vw;
    border-radius: 2.22222vw;

    &.btn_black {
      margin-bottom: 2.77778vw;
    }

    &.btn_primary {
      margin-bottom: 10.83333vw;
    }
  }
}
