.content {
    position: relative;
    width: 100%;
}

.swiper-container {
    width: 100%;
}

.swiper-slide {
    padding: 20px 0;
    width: 20vw !important;
}

.swiper-container {    
    a {
        display: block;
        color: var(--clr-black);
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        height: 100%;
        &.swiper-slide-active2 {
            background: var(--clr-primary);
            color: var(--clr-white);
            border-radius: 25px;
        }
    }
}

.sticky {
    position: sticky;
    top: 0;
}

.horizontal-area {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

// locomotive scroll style
/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */

html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}

.c-scrollbar:hover {
    transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
}

.area-common {
    &.section-01 {       
        background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrz-yhKecW4sVT7_KcmV3sP6gvXXk9KaPsuxJnwWSNwQ&s') center center no-repeat;
        background-attachment: fixed; 
        background-size: cover;
        .photo-gallery {
            overflow: hidden;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;            
            width: 100%;
            transform-style: preserve-3d;
            .gallery-item {
                height: 40vh;
                border: 1px solid #ccc;    
                cursor: pointer;     
                &:hover {
                    transform: translateZ(-10px) scale(2);
                }                       
            }
        }
    }

    &.section-02 {

    }

    &.section-03 {
        .achievement-box {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 0;
            .achievement-item {
                display: flex;
                align-items: center;
                transition: all 0.7s ease-in-out;
                .achievement-image {
                    position: relative;
                    width: 100%;
                    transition: all 0.7s ease-in-out;
                    img {
                        object-fit: cover;
                    }
                }
                .hidden-text {
                    display: none;
                    visibility: hidden;
                    font-size: 20px;
                }
                &:hover {
                    .achievement-image {
                        width: 0;
                    }
                    .hidden-text {
                        display: block;
                        visibility: visible;                     
                    }   
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 760px) {}