.notice_wrapper {
    position: relative;
    width: 100%;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;

    .notice_head {
        position: relative;
        width: 100%;
        padding: 23px 0;

        .notice_title {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                position: relative;
                font-size: 16px;
                line-height: 24px;
                font-weight: bold;
                color: #999999;
                margin-right: 60px;
                cursor: pointer;

                &:after {
                    display: none;
                }

                &:last-child {
                    margin-right: 0;
                }

                &.active {
                    font-weight: bold;
                    color: #000000;

                    &:after {
                        display: block;
                        clear: both;
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -23px;
                        z-index: 1;
                        width: 100%;
                        height: 2px;
                        background: #000000;
                    }
                }
            }
        }

        &:after {
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            clear: both;
            content: '';
            width: 100%;
            height: 1px;
            background: #DDDDDD;
        }
    }

    .notice_container {
        position: relative;
        width: 100%;

        .notice_contents {
            display: none;

            .accordion_container {
                position: relative;
                width: 100%;
                border-bottom: 1px solid #DDDDDD;

                .accordion_head {
                    display: flex;
                    align-items: center;
                    padding: 28px 20px;
                    cursor: pointer;

                    h4 {
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                        line-height: 24px;

                        .faq_title {
                            display: block;
                            width: 120px;
                            color: #999999;
                        }

                        .question_text {
                            color: #424242;
                        }
                    }

                    .expand {
                        width: 24px;
                        height: 24px;
                        background: url("../images/common/arr_down.svg") center center no-repeat;
                        background-size: cover;
                        margin-left: auto;
                        transform-origin: center center;
                    }
                }

                .accordion_body {
                    display: none;
                    width: 100%;
                    height: 0;
                    background: #E9EAEB;
                    border-top: 1px solid #DDDDDD;
                    padding: 30px 20px 30px 140px;

                    .answer_text {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }

                &:last-child {
                    border-bottom: none;
                }

                &.active {
                    .accordion_head {
                        .question_text {
                            font-weight: bold;
                        }

                        .expand {
                            transform: rotate(180deg);
                        }
                    }

                    .accordion_body {
                        display: block;
                        height: 100%;
                    }
                }
            }

            &.on {
                display: block;
            }
        }
    }
}