$pc-size: 1400;

@function vw($target) {
    @if type-of($target)==number {
        @return (($target * 100) / $pc-size) * 1vw;
    }

    @else if type-of($target)==list {
        $vw: ();

        @each $value in $target {
            @if type-of($value)==number {
                $vw: append($vw, (($value * 100) / $pc-size) * 1vw);
            }

            @else if type-of($value)==string {
                $vw: append($vw, $value);
            }
        }

        @return $vw;
    }

    @else {
        @return $target;
    }
}

.content {
    &.product {
        .area-common {
            &.section-01 {
                .sample-box {
                    flex: 1;
                    width: vw(500);
                    transition: all 1.7s linear;
                    .sample-wrapper {
                        position: relative;
                        font-family: "CookieRun Bold";
                        .mobile {
                            position: relative;
                            display: block;
                            width: 70%;
                            margin-left: auto;
                            .mobile-bg {
                                
                            }
                            .value-wrapper {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                bottom: vw(16);
                                left: vw(28);
                                width: calc(100% - 4.25vw);
                                height: 30%;
                                font-size: vw(24);
                                background: var(--clr-sub);
                                border-bottom-left-radius: vw(38);
                                border-bottom-right-radius: vw(38);
                                transition: height 1.7s linear;
                                padding-bottom: vw(50);
                                .value-box {
                                    display: block;
                                    font-size: vw(40);
                                    font-family: "CookieRun Bold";                        
                                    text-align: center;
                                    padding-right: vw(4);
                                }
                            }
                            &:after {
                                display: block;
                                clear: both;
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                width: 100%;
                                height: vw(30);
                                background: linear-gradient(0deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
                            }
                        }
                        .range-bar {
                            position: absolute;
                            right: vw(50);
                            top: 50%;
                            width: vw(6);
                            height: 80%;
                            background: var(--clr-light-grey);
                            transform: translateY(-50%);
                            border-radius: vw(4);                            
                            .range-step {
                                position: absolute;                                
                                left: 50%;
                                bottom: 24%;
                                z-index: 1;
                                width: vw(20);
                                height: vw(40);                                
                                border-radius: vw(20);
                                background: var(--clr-secondary);
                                transform: translateX(-50%);
                                transition: bottom 1.7s linear;
                            }
                            .progress-bar {
                                position: absolute;
                                left: 31%;
                                bottom: 0;
                                width: vw(7);
                                height: 30%;
                                border-radius: vw(20);
                                background: var(--clr-primary);
                                transform: translateX(-50%);
                                transition: height 1.7s linear;
                            }
                        }
                    }
                    &.ani_active {
                        .sample-wrapper {
                            .mobile {
                                .value-wrapper {
                                    height: 50%;
                                    padding-bottom: vw(300);
                                }
                            }
                            .range-bar {
                                .range-step {
                                    bottom: 49%;
                                }
                                .progress-bar {
                                    height: 50%;
                                }
                            }
                        }
                    }
                }
                .text-box {
                    flex: 1;
                    padding-left: vw(20);
                    h3 {
                        font-size: vw(30);                        
                    }
                    p {
                        font-size: vw(16);
                    }
                }                                             
            }
            &.section-02 {
                                                
            }
            &.section-03 {
                                                
            }
            .inner {
                display: flex;
                align-items: center;
            }
        }
    }
}