$pc-size: 1400;

@function vw($target) {
    @if type-of($target)==number {
        @return (($target * 100) / $pc-size) * 1vw;
    }

    @else if type-of($target)==list {
        $vw: ();

        @each $value in $target {
            @if type-of($value)==number {
                $vw: append($vw, (($value * 100) / $pc-size) * 1vw);
            }

            @else if type-of($value)==string {
                $vw: append($vw, $value);
            }
        }

        @return $vw;
    }

    @else {
        @return $target;
    }
}

.content {
    &.product {
        .area-common {
            position: relative;   
            width: 100%;
            height: 100vh;

            &.section-01 {
                display: flex;
                align-items: center;
                justify-content: center;
                height: calc(100vh - 100px);

                .inner {        
                    width: 45%;
                    height: auto;
                    margin: auto;                                  
                }

                .sample-wrapper {
                    position: relative;
                    font-family: "CookieRun Bold";
                    height: 100%;
                    flex: 1;
                    transition: all 1.7s linear;  

                    .mobile {
                        position: relative;
                        display: block;
                        width: 100%;
                        height: 100%;
                        margin-left: auto;

                        .mobile-bg {
                            width: 100%;
                            height: 100%;
                        }

                        .value-wrapper {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            bottom: vw(14);
                            left: vw(18);
                            width: calc(100% - 2.7vw);
                            height: 0;
                            font-size: vw(24);
                            background: var(--clr-sub);
                            border-bottom-left-radius: vw(30);
                            border-bottom-right-radius: vw(30);
                            transition: all 1.7s linear;
                            padding-bottom: 0;

                            .value-box {
                                display: block;
                                font-size: vw(34);
                                font-family: "CookieRun Bold";
                                text-align: center;
                                padding-right: vw(4);
                                .count-up {

                                }
                            }
                        }

                        &:after {
                            display: block;
                            clear: both;
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: vw(30);
                            background: linear-gradient(0deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
                        }
                    }

                    .range-bar {
                        position: absolute;
                        right: vw(50);
                        top: 50%;
                        width: vw(6);
                        height: 80%;
                        background: var(--clr-light-grey);
                        transform: translateY(-50%);
                        border-radius: vw(4);

                        .range-step {
                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            z-index: 1;
                            width: vw(20);
                            height: vw(40);
                            border-radius: vw(20);
                            background: var(--clr-secondary);
                            transform: translateX(-50%);
                            transition: bottom 1.7s linear;
                        }

                        .progress-bar {
                            position: absolute;
                            left: 31%;
                            bottom: 0;
                            width: vw(7);
                            height: 0;
                            border-radius: vw(20);
                            background: var(--clr-primary);
                            transform: translateX(-50%);
                            transition: height 1.7s linear;
                        }
                    }
                }

                .text-box {
                    flex: 1;
                    padding-left: vw(20);

                    h3 {
                        font-size: vw(30);
                    }

                    p {
                        font-size: vw(16);
                    }
                }

                &.ani_active {
                    .sample-wrapper {
                        .mobile {
                            .value-wrapper {
                                height: 50%;
                                padding-bottom: vw(300);
                            }
                        }

                        .range-bar {
                            .range-step {
                                bottom: 49%;
                            }

                            .progress-bar {
                                height: 50%;
                            }
                        }
                    }
                }
            }

            &.section-02 {              
                .confetti-wrapper {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    transform-origin: center;
                    transition: all 1.5s ease-in-out;

                    .confetti-box {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        transition: all 1.5s ease-in-out;

                        &.confetti {
                            >.particle {
                                opacity: 0;
                                position: absolute;
                                animation: confetti 3s ease-in infinite;
                                transition: all 1.5s ease-in-out;

                                &.c1 {
                                    background-color: rgba(76, 175, 80, 0.5);
                                }

                                &.c2 {
                                    background-color: rgba(156, 39, 176, 0.5);
                                }
                            }
                        }
                    }

                    .textcontainer {
                        opacity: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 330px !important;
                        height: 580px !important;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 1;
                        width: 100%;
                        height: 100%;
                        font-size: 80px;
                        font-weight: bold;
                        text-align: center;
                        color: #ccc;
                        transform: rotate(-180deg);
                        transition: all 2s linear;
                        border: 3px solid #ccc;
                        border-radius: 20px;
                    }

                    &.pop_active {
                        .confetti-box {
                            span {
                                opacity: 1;
                            }

                            &.confetti {
                                >.particle {
                                    opacity: 1;
                                }
                            }
                        }

                        .textcontainer {
                            opacity: 1;
                            transform: rotate(0) translate(-50%, -50%);
                            color: #333;
                        }
                    }
                }
            }

            &.section-03 {
                overflow: hidden;

                .choonsik-image {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    z-index: 1;
                    transform: translate(-50%, -50%);                
                    height: auto;
                    transition: all 2s ease-in-out;

                    &.center-image {                        
                        width: 200px;                                                
                    }
                    &.image-pop {
                        display: none;                        
                        width: 400px;                                  
                    }
                }                

                .line-wrapper {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    transition: width 1s linear;
                    .aniLine {
                        overflow: hidden;
                        position: absolute;
                        display: flex;
                        align-items: center;
                        width: 0;
                        height: 50px;
                        font-size: 30px;
                        background: var(--clr-sub);                        
                        transition: width 1s linear;
                        transform-origin: center;   
                                             
                        .line-inner {
                            display: flex;
                            flex-wrap: nowrap;
                            animation: rollText 20s infinite linear;
                            p {
                                flex-shrink: 0;
                                display: inline-block;
                                font-size: vw(16);
                                font-weight: bold;
                                text-transform: uppercase;
                                margin: 0 vw(8);
                                white-space: nowrap;                                
                            }
                        }                        
                        &:nth-child(1) {
                            left: -3%;
                            top: 30%;                            
                            transform: rotate(-15deg);
                        }
                        &:nth-child(2) {
                            right: -3%;
                            top: 30%;
                            transform: rotate(15deg);
                        }
                        &:nth-child(3) {
                            left: -3%;
                            bottom: 0;
                            transform: rotate(-15deg);
                        }
                        &:nth-child(4) {
                            right: -3%;
                            bottom: 40%;
                            transform: rotate(15deg);
                        }
                    }                    
                }  
              
                &.ani_visible {
                    .aniLine {
                        width: 120vw;                          
                    }

                    .choonsik-image {
                        &.center-image {
                            display: none;
                            transform: scale(0);
                        }
                        &.image-pop {                        
                            display: block;
                            transform: scale(1);
                        }
                    }                    
                }
            }

            .inner {
                display: flex;
                align-items: center;
            }
        }
    }
}

@keyframes rollText {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}


.particletext {
    position: relative;
    text-align: center;

    &.hearts {
        >.particle {
            opacity: 0;
            position: absolute;
            background-color: rgba(204, 42, 93, 1);
            animation: hearts 3s ease-in infinite;

            &:before,
            &:after {
                position: absolute;
                content: '';
                border-radius: 100px;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-color: rgba(204, 42, 93, 1);
            }

            &:before {
                transform: translateX(-50%);
            }

            &:after {
                transform: translateY(-50%);
            }
        }
    }
}

@keyframes confetti {
    0% {
        opacity: 0;
        transform: translateY(0%) rotate(0deg);
    }

    10% {
        opacity: 1;
    }

    35% {
        transform: translateY(-800%) rotate(270deg);
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(2000%) rotate(1440deg);
    }
}

@keyframes hearts {
    0% {
        opacity: 0;
        transform: translate(0, 0%) rotate(45deg);
    }

    20% {
        opacity: 0.8;
        transform: translate(0, -20%) rotate(45deg);
    }

    100% {
        opacity: 0;
        transform: translate(0, -1000%) rotate(45deg); //Big hearts move faster
    }
}




@media screen and (max-width: 1400px) {    
    .content {
        &.product {
            .area-common {
                &.section-01 {
                    height: calc(100vh - 80px);
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {  
    .content {
        &.product {
            .area-common {
                &.section-01 {
                    height: calc(100vh - 60px);
                }
            }
        }
    }  
}