/**********
* LIGHT MODE STYLES
**********/
[data-theme="light"] {
  --clr-primary: #034f36;
  --clr-sub: #FFD377;
  --clr-black: #333333;
  --clr-light-grey: #929292;
  --clr-grey: #666666;
  --clr-white: #ffffff;
  --clr-secondary: #002c1d;

  body {
    background-color: var(--clr-white);
  }

  button {
    background: transparent;
  }

  #header {
    background: var(--clr-primary);

    h1 {
      color: var(--clr-white);
    }
  }

  .theme-controls {
    h4 {
      color: var(--clr-white)
    }
  }

  .theme-switcher {
    .theme-switcher__background {
      background-color: var(--clr-white);
    }

    .active label {
      color: var(--clr-secondary);
    }

    label {
      color: var(--clr-white);
    }

    input {
      background-color: var(--clr-grey);

      &:checked {
        background-color: var(--clr-secondary);
      }
    }
  }
}


/**********
* DARK MODE STYLES
**********/
[data-theme="dark"] {
  --clr-primary: #034f36;
  --clr-sub: #fbc041;
  --clr-white: #333333;
  --clr-grey: #929292;
  --clr-light-grey: #666666;
  --clr-black: #ffffff;
  --clr-secondary: #002c1d;

  body {
    background-color: var(--clr-white);
  }

  #header {
    background: var(--clr-primary);

    h1 {
      color: var(--clr-white);
    }
  }

  .theme-controls {
    h4 {
      color: var(--clr-white)
    }
  }

  .theme-switcher {
    .theme-switcher__background {
      background-color: var(--clr-white);
    }

    .active label {
      color: var(--clr-secondary);
    }

    label {
      color: var(--clr-white);
    }

    input {
      background-color: var(--clr-grey);

      &:checked {
        background-color: var(--clr-secondary);
      }
    }
  }
}

